/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    UHVDB/proteinsimilarity Nextflow config file
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Default config options for all compute environments
----------------------------------------------------------------------------------------
*/

resume = true

// Global default params, used in configs
params {
    //-----------------------------------
    // General options
    //-----------------------------------
    input                           = null
    fastqs                          = null
    fnas                            = null
    virus_fnas                      = null
    uhvdb_dir                       = null
    uhvdb_version                   = "2025_09_01"
    db_dir                          = null
    output_dir                      = null

    //-----------------------------------
    // UHVDB mining options
    //-----------------------------------
    // assemble options
    run_assemble                    = false
    run_coassembly                  = false
    assemble_min_length             = 2000
    // classify options
    run_classify                    = false
    classify_min_length             = 2000
    classify_genomad_args           = null
    classify_remote_chunk_size      = 1000
    classify_local_chunk_size       = 10000
    // filter options
    run_filter                      = false

    //-----------------------------------
    // UHVDB annotation options
    //-----------------------------------
    // crisprhost options
    run_crisprhost                  = false
    spacer_fasta                    = null
    crisprhost_chunk_size           = 10000000
    // phist options
    run_phist                       = false
    bacterial_host_urls             = null
    phist_chunk_size                = 10000
    // proteinsimilarity options
    run_proteinsimilarity           = false
    vmr_dmnd                        = null
    vmr_url                         = null
    email                           = null
    proteinsimilarity_chunk_size    = 10000
    diamond_args                    = "--masking none -k 1000 -e 1e-3 --very-sensitive"
    min_normscore                   = 5.5
    // function options
    run_function                    = false
    function_chunk_size             = 10000
    bakta_db_version                = "full"
    bakta_mod_url                   = "https://github.com/CarsonJM/bakta.git"
    virus_structures                = [
        'https://data-sharing.atkinson-lab.com/vad/anti_defense_finder.tar.gz',
        'https://data-sharing.atkinson-lab.com/vad/vad_homodimers.tar.gz',
        'https://data-sharing.atkinson-lab.com/vad/vad_monomers.tar.gz',
        'https://bfvd.steineggerlab.workers.dev/latest/bfvd.tar.gz',
        'https://fileshare.lisc.univie.ac.at/vog/vog232/vfam.representatives.colabfold_predictions.tar.gz'
    ]
    pseudofinder_ref_fasta          = "https://ftp.uniprot.org/pub/databases/uniprot/current_release/knowledgebase/complete/uniprot_sprot.fasta.gz"
    pseudofinder_mod_url            = "https://github.com/CarsonJM/pseudofinder.git"
    // lifestyle options
    run_lifestyle                   = false

    //-----------------------------------
    // UHVDB update options
    //-----------------------------------
    // anicluster options
    run_anicluster          = false
    // aaicluster options
    run_aaicluster          = false
    // update options
    run_update              = false

    //-----------------------------------
    // UHVDB analyze options
    //-----------------------------------
    // reference analyze options
    run_reference_analyze           = false
    bacterial_sylph_db              = null
    instrain_args                   = null
    run_instrain_compare            = false
    // assembly analyze options
    run_assembly_analyze            = false
}

manifest {
    name = 'UHVDB/toolkit'
    contributors = [
        [
            name: 'Carson Miller',
            affiliation: 'University of Washington, Seattle, USA',
            email: 'carsonjm@uw.edu',
            github: 'UHVDB',
            contribution: ['author', 'maintainer'],
            orcid: '0000-0001-9861-4884',
        ]
    ]
    homePage        = 'https://github.com/UHVDB/toolkit'
    description     = """A Nextflow toolkit for utilizing and updating the Unified Human Virome Database."""
    mainScript      = 'main.nf'
    defaultBranch   = 'main'
    nextflowVersion = '!>=25.04.2'
    version         = '0.0.1'
    doi             = ''
    license         = 'MIT License'
    organization    = 'UHVDB'
}

// Load base.config by default for all pipelines
includeConfig 'conf/base.config'

profiles {
    // // Profiles to test major UHVDB workflows
    // test_mine                { includeConfig "conf/test_mine.config" }
    // test_annotate            { includeConfig "conf/test_annotate.config" }
    // test_update              { includeConfig "conf/test_update.config" }
    // test_analyze             { includeConfig "conf/test_analyze.config" }
    test_full                { includeConfig "conf/tests/test_full.config" }

    // // Profiles to test mine subworkflows
    // test_assemble           { includeConfig "conf/test_assemble.config" }
    // test_classify           { includeConfig "conf/test_dmnd.config" }
    // test_filter             { includeConfig "conf/test_filter.config" }

    // // Profiles to test annotate subworkflows
    // test_crisprhost         { includeConfig "conf/test_crisprhost.config" }
    // test_phist              { includeConfig "conf/test_phist.config" }
    // test_proteinsimilarity  { includeConfig "conf/tests/test_proteinsimilarity.config" }
    test_function           { includeConfig "conf/tests/test_function.config" }
    // test_lifestyle          { includeConfig "conf/test_lifestyle.config" }

    // // Profiles to test update subworkflows
    // test_anicluster         { includeConfig "conf/test_anicluster.config" }
    // test_aaicluster         { includeConfig "conf/test_aaicluster.config" }

    // // Profiles to test UHVDB analysis subworkflows
    // test_referenceanalyze    { includeConfig "conf/test_referenceanalyze.config" }
    // test_assemblyanalyze     { includeConfig "conf/test_assemblyanalyze.config" }

    // Institutional profiles
    uw_hyak { includeConfig "conf/institutions/uw_hyak.config" }

    // Default profiles
    singularity {
        singularity.enabled    = true
        singularity.autoMounts = true
        singularity.pullTimeout= 60.min
        singularity.cacheDir   = "${params.db_dir}/.singularity-cache/"
        conda.enabled          = true
        conda.useMicromamba    = true
        conda.createTimeout    = 120.min
        conda.cacheDir         = "${params.db_dir}/.conda-cache/"
        docker.enabled         = false
        podman.enabled         = false
        shifter.enabled        = false
        charliecloud.enabled   = false
        apptainer.enabled      = false
    }
    apptainer {
        apptainer.enabled    = true
        apptainer.autoMounts = true
        apptainer.pullTimeout= 60.min
        apptainer.cacheDir   = ".apptainer-cache/"
        conda.enabled        = true
        conda.useMicromamba  = true
        conda.createTimeout  = 120.min
        conda.cacheDir       = ".conda-cache/"
        docker.enabled       = false
        singularity.enabled  = false
        podman.enabled       = false
        shifter.enabled      = false
        charliecloud.enabled = false
    }
}
