/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running minimal tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:
        nextflow run UHVDB/toolkit -profile test_crisprhost,singularity

----------------------------------------------------------------------------------------
*/

process {
    resourceLimits = [
        cpus: 2,
        memory: '7.GB',
        time: '1.h',
    ]
}

params {
    config_profile_name         = 'Test crisprhost'
    config_profile_description  = 'Minimal test dataset to check full crisprhost subworkflow'

    //-----------------------------------
    // General options
    //-----------------------------------
    input           = "/mmfs1/gscratch/pedslabs_hoffman/carsonjm/CFPhageome/repos/UHVDB/toolkit/assets/test_datasets/samplesheets/test_samplesheet.csv"
    output_dir      = "results"

    //-----------------------------------
    // UHVDB annotation options
    //-----------------------------------
    // crisprhost options
    virus_fasta             = "https://portal.nersc.gov/dna/microbial/prokpubs/spacer_database_resources/Example_viruses.fna"
    spacer_fasta            = "assets/test_datasets/test_spacer.fasta"
    crisprhost_chunk_size   = 2
}
