/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running minimal tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:
        nextflow run UHVDB/toolkit -profile test_function,singularity

----------------------------------------------------------------------------------------
*/

params {
    config_profile_name         = 'Test function'
    config_profile_description  = 'Minimal test dataset to check function subworkflow'

    //-----------------------------------
    // General options
    //-----------------------------------
    input           = "/mmfs1/gscratch/pedslabs_hoffman/carsonjm/CFPhageome/repos/UHVDB/toolkit/assets/test_datasets/samplesheets/test_samplesheet.csv"
    db_dir          = "results/databases"
    output_dir      = "results"

    //-----------------------------------
    // UHVDB mine options
    //-----------------------------------
    // classify options
    classify_genomad_args           = "--splits 2"

    //-----------------------------------
    // UHVDB annotate options
    //-----------------------------------
    // function options
    run_function                    = true
    bakta_db_version                = "light"
    function_chunk_size             = 2
}
