/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running minimal tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:
        nextflow run UHVDB/toolkit -profile test_full,singularity

----------------------------------------------------------------------------------------
*/

params {
    config_profile_name         = 'Test full'
    config_profile_description  = 'Minimal test dataset to check full pipeline'

    //-----------------------------------
    // General options
    //-----------------------------------
    input           = "/mmfs1/gscratch/pedslabs_hoffman/carsonjm/CFPhageome/repos/UHVDB/toolkit/assets/test_datasets/samplesheets/test_samplesheet.csv"
    fastqs          = "/gscratch/pedslabs_hoffman/carsonjm/CFPhageome/repos/UHVDB/toolkit/assets/test_datasets/fastqs/fastqs_test_{1,2}.fastq.gz"
    fnas            = "/gscratch/pedslabs_hoffman/carsonjm/CFPhageome/repos/UHVDB/toolkit/assets/test_datasets/fnas/fnas_test.fna.gz"
    virus_fnas      = "/gscratch/pedslabs_hoffman/carsonjm/CFPhageome/repos/UHVDB/toolkit/assets/test_datasets/fnas/virus_fnas_test.fna.gz"
    fasta_chunk_size= 10
    db_dir          = "databases"
    output_dir      = "results"
    new_release_id  = "test_release_001"

    //-----------------------------------
    // UHVDB mine options
    //-----------------------------------
    // assemble options
    run_assemble                    = false // TODO: Not needed until after submitted to co-authors
    run_coassembly                  = false // TODO: Not needed until after submitted to co-authors
    assemble_min_length             = 2000

    //-----------------------------------
    // UHVDB annotate options
    //-----------------------------------
    // crisprhost options
    run_crisprhost                  = false // TODO: Not needed until after submitted to co-authors
    spacer_fasta                    = "assets/test_datasets/fnas/test_spacer.fna.gz"
    spacer_chunk_size               = 2
    // phist options
    run_phist                       = false // TODO: Not needed until after submitted to co-authors
    bacterial_host_urls             = "assets/test_datasets/tsvs/bacterial_host_url_test.tsv"
    phist_host_chunk_size           = 2
    // proteinsimilarity options
    run_proteinsimilarity           = false // TODO: Not needed until after submitted to co-authors
    vmr_dmnd                        = null
    vmr_url                         = "assets/test_datasets/vmr/VMR_MSL40.TEST.xlsx"
    email                           = "test@gmail.com"
    diamond_args                    = "--masking none -k 1000 -e 1e-3 --very-sensitive"
    min_normscore                   = 0.0
    // function options
    run_function                    = true
    bakta_db_version                = "light"
    // lifestyle options
    run_lifestyle                   = false // TODO: Not needed until after submitted to co-authors

    //-----------------------------------
    // UHVDB compare options
    //-----------------------------------
    // anicluster options
    run_anicluster          = false // TODO: Not needed until after submitted to co-authors
    // aaicluster options
    run_aaicluster          = true
    // phylogeny options
    run_phylogeny           = true

    //-----------------------------------
    // Update options
    //-----------------------------------
    // update options
    run_update              = false

    //-----------------------------------
    // Analyze options
    //-----------------------------------
    // reference analyze options
    run_reference_analyze           = false
    bacterial_sylph_db              = null
    instrain_args                   = null
    run_instrain_compare            = false
    // assembly analyze options
    run_assembly_analyze            = false
    
    //-----------------------------------
    // Pangenome options
    //-----------------------------------
    // nucleotide pangenome options
    // TODO: Not needed until after submitted to co-authors
    // protein pangenome options
    // TODO: Not needed until after submitted to co-authors
}
