/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running minimal tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:
        nextflow run UHVDB/toolkit -profile test_proteinsimilarity,singularity

----------------------------------------------------------------------------------------
*/

process {
    resourceLimits = [
        cpus: 2,
        memory: '7.GB',
        time: '1.h',
    ]
}

params {
    config_profile_name         = 'Test proteinsimilarity'
    config_profile_description  = 'Minimal test dataset to check full proteinsimilarity subworkflow'

    //-----------------------------------
    // General options
    //-----------------------------------
    input           = "/mmfs1/gscratch/pedslabs_hoffman/carsonjm/CFPhageome/repos/UHVDB/toolkit/assets/test_datasets/samplesheets/test_samplesheet.csv"
    output_dir      = "results"

    //-----------------------------------
    // UHVDB annotation options
    //-----------------------------------
    // proteinsimilarity options
    run_proteinsimilarity           = false
    vmr_url                         = "https://github.com/UHVDB/proteinsimilarity/raw/refs/heads/main/assets/test_datasets/VMR_MSL40.TEST.xlsx"
    vmr_dmnd                        = null
    vmr_url                         = null
    email                           = null
    proteinsimilarity_chunk_size    = 5
    diamond_args                    = "--masking none -k 1000 -e 1e-3 --very-sensitive"
    min_normscore                   = 0.0
}
