/*
========================================================================================
    Nextflow config file for running nf-test tests
========================================================================================
*/

process {
    resourceLimits = [
        cpus: 2,
        memory: '7.GB',
        time: '1.h',
    ]
}

params {
    // Input data
    query_fna       = "https://github.com/refresh-bio/PHIST/raw/refs/heads/master/example/virus_multifasta.fna"
    chunk_size      = 5
    min_score       = 0
}