/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running minimal tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:
        nextflow run UHVDB/proteinsimilarity -profile test,<docker/singularity>

----------------------------------------------------------------------------------------
*/

process {
    resourceLimits = [
        cpus: 2,
        memory: '7.GB',
        time: '1.h',
    ]
}

params {
    config_profile_name         = 'Test VMR download + run'
    config_profile_description  = 'Minimal test dataset to check VMR download functionality'

    // Input data
    query_fna       = "https://github.com/refresh-bio/PHIST/raw/refs/heads/master/example/virus_multifasta.fna"
    vmr_url         = "assets/test_datasets/VMR_MSL40.TEST.xlsx"
    chunk_size      = 5
    output          = "protein_similarity.csv"
}
